name: Deploy

on:
  push:
    branches:
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.6.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'
            cd /home/nata_tchikhinashvili/auctions-g2
            source .venv/bin/activate
            git reset --hard
            git pull --strategy-option theirs
            git checkout dev
            pip3 install -r requirements.txt
            sudo systemctl daemon-reload
            sudo systemctl restart rabbimq-listen
            sudo systemctl restart celery
            sudo systemctl restart celery-beats
          EOF
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
